- name: Create Minecraft Server container
  become_user: root
  become: true
  docker_container:
    name: "{{HOSTNAME}}"
    image: "itzg/minecraft-server"
    pull: yes
    state: started
    restart: yes
    restart_policy: unless-stopped
    hostname: "{{HOSTNAME}}.mcserver"
    ports: 
      - "{{ ansible_ssh_host }}:{{PORT}}:25565/tcp"
    volumes:
      - '{{homedir}}container-program-files/fileserver_share_files/minecraft-server:/data'
    env: 
        TZ: "{{TZ}}"
        TYPE: "{{TYPE}}" 
        MEMORY: "{{MEMORY}}" 
        MAX_MEMORY: "{{MAX_MEMORY}}" 
        INIT_MEMORY: "{{INIT_MEMORY}}" 
        MOTD: "{{MOTD}}" 
        ENABLE_RCON: "{{ENABLE_RCON}}" 
        RCON_PASSWORD: "{{RCON_PASSWORD}}" 
        EXEC_DIRECTLY: "{{EXEC_DIRECTLY}}" 
        CPUS: "{{CPUS}}" 
        EULA: "{{EULA}}"

- name: Copy a "bukkit.yml" file from repo to the remote machine
  copy:
    src: "./defaults/bukkit.yml"
    dest: "{{homedir}}container-program-files/fileserver_share_files/minecraft-server/bukkit.yml"

- name: Copy a "paper.yml" file from repo to the remote machine
  copy:
    src: "./defaults/paper.yml"
    dest: "{{homedir}}container-program-files/fileserver_share_files/minecraft-server/paper.yml"

- name: Copy a "server.properties" file from repo to the remote machine
  copy:
    src: "./defaults/server.properties"
    dest: "{{homedir}}container-program-files/fileserver_share_files/minecraft-server/server.properties"
  
- name: Copy a "spigot.yml" file from repo to the remote machine
  copy:
    src: "./defaults/spigot.yml"
    dest: "{{homedir}}container-program-files/fileserver_share_files/minecraft-server/spigot.yml"